* {
  /* * apply to all tags */
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a {
  /* a, p ... apply style to tags */
  text-decoration: none;
  flex: 1;
}

body,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.heading {
  color: blue;
}

.fullwidth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #9b9b9b;
  width: 100%;
}

.header {
  display: flex;
  height: 80px;
  width: 1200px;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  scale: .85;
}


.nav-list {
  display: flex;
  flex-direction: row;
  flex: 3;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 100;

}

.nav-list>li>a {
  color: #fff;
}

.navBarLink {
  line-height: 80px;
}

.nav-list>li:not(:nth-child(3)) {
  margin-right: 20px;
  border-right: 1px solid rgba(216, 216, 216, .5);
  padding-right: 20px;
}

.center-cnt {
  text-align: center;
  color: gray;
}

.empty-cnt {
  flex: 1;
}

.section {
width:1200px;
margin: 0 auto;

}
.image-section {
  height:500px;
}

.img-cnt {
  background: url("./img/image-1.jpg");
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.text-cnt-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:50%;
  float: right;
  height: 100%;
}