* {
  /* * apply to all tags */
  font-family: Arial, Helvetica, sans-serif;
}

a {
  /* a, p ... apply style to tags */
  text-decoration: none;
  flex: 1;
}

body, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.heading {
  color: blue;
}

.header {
  display: flex;
  height:80px;
  background-color: black;
}
.logo {
 max-width: 100%;
 max-height: 100%;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex: 3;
}

.nav-list > li > a {
  color: #fff;
}

.nav-list> :not(:nth-child(3)) {
  margin-right: 10px;
}

.center-cnt {
  /* align text to center */
  text-align: center;
  color: gray;
}

.empty-cnt {
  flex: 1;
}